h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: $main-font;
}

.container {
  max-width: $mobile;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section__label {
  font-weight: 800;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;
  margin-bottom: 12px;
  color: $accent-txt-cl;

  @media screen and (min-width: $tablet) {
    font-size: 22px;
    line-height: calc(27 / 22);
  }

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: calc(37 / 30);
  }
}

.section__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);
  letter-spacing: 0.04em;

  @media screen and (min-width: $tablet) {
    font-size: 36px;
    line-height: calc(42 / 36);
  }

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: calc(45 / 36);
    letter-spacing: 0.06em;
  }
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}
