h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: $main-font;
}

.container {
  max-width: $mobile;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }
}

.section {
  padding-top: 60px;
}

.section__title {
  font-weight: 800;
  font-size: 18px;
  line-height: calc(22px / 18px);
  text-align: center;
  margin-bottom: 12px;
  color: $accent-txt-cl;

  @media screen and (min-width: $tablet) {
    font-size: 22px;
    line-height: calc(27px / 22px);
  }

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: calc(37px / 30px);
  }
}

.section__title--bold {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 30px;
  line-height: calc(38px / 30px);
  letter-spacing: 0.04em;

  @media screen and (min-width: $tablet) {
    font-size: 36px;
    line-height: calc(42px / 36px);
  }

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: calc(45px / 36px);
    letter-spacing: 0.06em;
  }
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
