// Fonts
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Seymour One', sans-serif;
$additional-font: 'Roboto', sans-serif;

// Text Colors
$main-txt-cl: #fcfcfc;
$accent-txt-cl: #131313;
$yellow-txt-cl: #f8d24e;
$brown-txt-cl: #d6936d;
$grey-txt-cl: #7a7a7a;

// Background Colors
$white-bg: #ffffff;
$yellow-bg: #f8d24e;
$light-green-bg: #aec6a5;
$dark-green-bg: #84a178;
$mob-menu-bg: #85a279;
$tab-menu-bg: #97af8d;
$brown-bg: #d6936d;
$input-bg: rgba(248, 210, 78, 0.1);
$overlay-bg: rgba(0, 0, 0, 0.3);
$modal-bg: #fcfcfc;
$green-circle-bg: linear-gradient(
    0deg,
    rgba(156, 190, 143, 0.7),
    rgba(156, 190, 143, 0.7)
  ),
  #d9d9d9;
$yellow-circle-bg: linear-gradient(
    0deg,
    rgba(248, 210, 78, 0.7),
    rgba(248, 210, 78, 0.7)
  ),
  #d9d9d9;
$brown-circle-bg: linear-gradient(
    0deg,
    rgba(213, 117, 63, 0.7),
    rgba(213, 117, 63, 0.7)
  ),
  #d9d9d9;

$green-small-circle-bg: #9cbe8f;

//Icons Colors
$dark-icon-cl: #131313;
$light-icon-cl: #fcfcfc;

// Borders
$yellow-modal-br: #f8d24e;
$green-br: #96af8c;
$green-input-br: #84a178;
$yellow-br: #efd478;
$brown-br: #d6936d;
$green-ellipse-br: #9cbe8f;

// Buttons Text color
$black-btn-cl: #131313;
$white-btn-cl: #fcfcfc;
$yellow-btn-cl: #f8d24e;
$green-btn-cl: #0a8817;
$grey-btn-cl: #ababab;

// Buttons Background Color
$yellow-btn-bg: #f8d24e;
$green-btn-bg: #0a8817;
$grey-btn-bg: #ababab;

// Buttons Borders
$yellow-btn-br: #f8d24e;
$green-btn-br: #0a8817;
$grey-btn-br: #ababab;

// Box-shadow
$green-circle-box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
$green-small-circle-box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
$yellow-circle-box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
$brown-circle-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
$buy-now-modal-btn-box-shadow: 0px 6px 20px rgba(212, 20, 67, 0.1);
$buy-now-modal-brown-circle: 0px 6px 20px rgba(0, 0, 0, 0.25);
$buy-now-modal-yellow-circle: 0px 6px 20px rgba(153, 114, 23, 0.25);

// Transition
$anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
