<section class="section about" id="about">
  <div class="container">
    <p class="section__label about__label">tradition and love</p>
    <h2 class="section__title about__title">how it’s made?</h2>
    <div class="about__container">
      <div class="about__circle">
        <img
          class="about__photo"
          srcset="
            ./images/desktop/cow@1x.png 490w,
            ./images/tablet/cow@1x.png  335w,
            ./images/mobile/cow@1x.png  278w,
            ./images/desktop/cow@2x.png 980w,
            ./images/tablet/cow@2x.png  670w,
            ./images/mobile/cow@2x.png  556w
          "
          sizes="(min-width: 1200px) 490px, (min-width: 768px) 335px, (min-width: 480px) 278px, 100vw"
          src="./images/tablet/cow@1x.png"
          alt="photo cow"
        />
      </div>
      <div class="about__box">
        <p class="about__text">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="about__text-other">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <p class="about__text-another">
          This is enough to choose ice cream and coffee for any mood!
        </p>
        <button
          class="btn about__btn js-modal-open"
          data-modal="read-more-modal"
          type="button"
        >
          Read more
          <svg class="about__arrow" width="12" height="12">
            <use href="./images/sprite.svg#button_arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
