<section class="section section-address">
  <h2 class="visually-hidden">Our contacts</h2>
  <div class="container container__address" id="contacts">
    <ul class="address">
      <li class="address__item">
        <div class="address__box">
          <strong class="address__tittle">CAFE</strong>
        </div>
        <ul class="address__list">
          <li><p class="article__name">Chicago</p></li>
          <li>
            <a
              class="address__link"
              href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+USA/@41.7034056,-87.7819292,17z/data=!3m1!4b1!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405?hl=en"
              rel="noreferrer noopener nofollow"
              target="_blank"
              >10340 Ridgeland Ave,<br />
              Chicago Ridge IL 60415, USA</a
            >
          </li>
        </ul>

        <ul class="article__list">
          <li class="article__item">
            <p>Monday - Friday</p>
            <p class="article">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p>Saturday - Sunday</p>
            <p class="article">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <address class="main__address">
          <a
            class="main__link"
            href="tel:+61(0)383766284 "
            rel="noreferrer noopener nofollow"
            >+61(0) 383 766 284
          </a>
          <a
            class="main__link"
            href="mailto:noreply@envato.com"
            rel="noreferrer noopener nofollow"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="address__item">
        <div class="address__box address__box--width">
          <strong class="address__tittle">FOOD TRUCK</strong>
        </div>
        <ul class="address__list">
          <li><p class="article__name">Los Angeles</p></li>
          <li>
            <a
              class="address__link"
              href="https://www.google.com/maps/place/Manhattan+Ave,+Brooklyn,+NY,+USA/@40.721301,-73.9510659,17z/data=!3m1!4b1!4m5!3m4!1s0x89c2595a18973e2f:0xc0615c4c7d15e4ae!8m2!3d40.721297!4d-73.9488772?hl=en"
              rel="noreferrer noopener nofollow"
              target="_blank"
              >1003 Manhattan Ave, Manhattan Beach,<br class="tablet_article" />
              CA 90263, USA</a
            >
          </li>
        </ul>

        <ul class="article__list">
          <li class="article__item">
            <p>Monday - Friday</p>
            <p class="article">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p>Saturday - Sunday</p>
            <p class="article">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <address class="main__address">
          <a
            class="main__link"
            href="tel:+61(0)383766284"
            rel="noreferrer noopener nofollow"
            >+61(0) 383 766 284
          </a>
          <a
            class="main__link"
            href="mailto:noreply@envato.com"
            rel="noreferrer noopener nofollow"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="address__item">
        <div class="address__box">
          <strong class="address__tittle">CAFE</strong>
        </div>
        <ul class="address__list">
          <li><p class="article__name">New York</p></li>
          <li>
            <a
              class="address__link"
              href="https://www.google.com/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+USA/@40.6726978,-73.9569227,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734?hl=en"
              rel="noreferrer noopener nofollow"
              target="_blank"
              >726 Sterling Pl, Brooklyn,<br />
              NY 11222, USA</a
            >
          </li>
        </ul>

        <ul class="article__list">
          <li class="article__item">
            <p>Monday - Friday</p>
            <p class="article">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p>Saturday - Sunday</p>
            <p class="article">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <address class="main__address">
          <a
            class="main__link"
            href="tel:+61(0)383766284 "
            rel="noreferrer noopener nofollow"
            >+61(0) 383 766 284
          </a>
          <a
            class="main__link"
            href="mailto:noreply@envato.com"
            rel="noreferrer noopener nofollow"
            >noreply@envato.com</a
          >
        </address>
      </li>
    </ul>
    <ul class="list__btn">
      <li>
        <button
          class="btn contacts__btn js-modal-open"
          type="button"
          data-modal="location-modal"
          aria-expanded="false"
          aria-controls="location-modal"
          name="location"
        >
          Our Locations
          <svg class="about__arrow" width="12" height="12">
            <use href="./images/sprite.svg#button_arrow"></use>
          </svg>
        </button>
      </li>
      <li>
        <button
          class="btn contacts__btn contacts__btn--transparent js-modal-open"
          type="button"
          data-modal="franchise-modal"
          aria-expanded="false"
          aria-controls="franchise-modal"
          name="Franchise"
        >
          Franchise
          <svg class="about__arrow" width="12" height="12">
            <use href="./images/sprite.svg#button_arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
