<section class="section section--address">
  <div class="container container__address" id="#contacts">
    <h2 class="visually-hidden">Our contacts</h2>
    <ul class="address">
      <li class="address__item">
        <div class="address__box">
          <strong class="address__tittle">CAFE</strong>
        </div>
        <div class="address__container">
          <p class="article__name">Chicago</p>
          <a class="address__link" href="" rel="noreferrer noopener nofollow"
            >10340 Ridgeland Ave,<br />
            Chicago Ridge IL 60415, USA</a
          >
        </div>

        <div class="article__group">
          <div class="article__box">
            <p>Monday - Friday</p>
            <p class="article__item">06:00 AM - 10:00 PM</p>
          </div>
          <div>
            <p>Saturday - Sunday</p>
            <p class="article__item">08:00 AM - 16:00 PM</p>
          </div>
        </div>

        <address class="main__address">
          <a
            class="main__link"
            href="tel:+61(0)383766284 "
            rel="noreferrer noopener nofollow"
            >+61(0) 383 766 284
          </a>
          <a
            class="main__link"
            href="mailto:noreply@envato.com"
            rel="noreferrer noopener nofollow"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="address__item">
        <div class="address__box address__box--width">
          <strong class="address__tittle">FOOD TRUCK</strong>
        </div>
        <div class="address__container">
          <p class="article__name">Los Angeles</p>
          <a class="address__link" href="" rel="noreferrer noopener nofollow"
            >1003 Manhattan Ave, Manhattan Beach,<br class="tablet_article" />
            CA 90263, USA</a
          >
        </div>

        <div class="article__group">
          <div class="article__box">
            <p>Monday - Friday</p>
            <p class="article__item">06:00 AM - 10:00 PM</p>
          </div>
          <div>
            <p>Saturday - Sunday</p>
            <p class="article__item">08:00 AM - 16:00 PM</p>
          </div>
        </div>

        <address class="main__address">
          <a
            class="main__link"
            href="tel:+61(0)383766284"
            rel="noreferrer noopener nofollow"
            >+61(0) 383 766 284
          </a>
          <a
            class="main__link"
            href="mailto:noreply@envato.com"
            rel="noreferrer noopener nofollow"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="address__item">
        <div class="address__box">
          <strong class="address__tittle">CAFE</strong>
        </div>
        <div class="address__container">
          <p class="article__name">New York</p>
          <a class="address__link" href="" rel="noreferrer noopener nofollow"
            >726 Sterling Pl, Brooklyn,<br />
            NY 11222, USA</a
          >
        </div>

        <div class="article__group">
          <div class="article__box">
            <p>Monday - Friday</p>
            <p class="article__item">06:00 AM - 10:00 PM</p>
          </div>
          <div>
            <p>Saturday - Sunday</p>
            <p class="article__item">08:00 AM - 16:00 PM</p>
          </div>
        </div>

        <address class="main__address">
          <a
            class="main__link"
            href="tel:+61(0)383766284 "
            rel="noreferrer noopener nofollow"
            >+61(0) 383 766 284
          </a>
          <a
            class="main__link"
            href="mailto:noreply@envato.com"
            rel="noreferrer noopener nofollow"
            >noreply@envato.com</a
          >
        </address>
      </li>
    </ul>
    <div class="box__btn">
      <button class="btn contacts__btn" type="button">
        Our Locations
        <svg class="about__arrow" width="12" height="12">
          <use href="./images/sprite.svg#button_arrow"></use>
        </svg>
      </button>
      <button
        class="btn contacts__btn contacts__btn--transparent"
        type="button"
      >
        Franchise
        <svg class="about__arrow" width="12" height="12">
          <use href="./images/sprite.svg#button_arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
