<footer class="footer">
  <div class="container">
    <div class="footer-title">
      <p class="footer-title__first">homemade ice cream made</p>
      <p class="footer-title__second">with passion</p>
    </div>
    <div class="footer-thumb">
      <div class="footer-social">
        <ul class="footer-social__list">
          <li class="footer-social__item">
            <a
              class="footer-social__link"
              href="https://github.com/"
              target="_blank"
            >
              <svg class="footer-social__icon" width="19" height="19">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a
              class="footer-social__link"
              href="https://web.telegram.org/"
              target="_blank"
            >
              <svg class="footer-social__icon" width="19" height="15">
                <use href="./images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a
              class="footer-social__link"
              href="https://www.facebook.com/"
              target="_blank"
            >
              <svg class="footer-social__icon" width="9" height="19">
                <use href="./images/sprite.svg#fb"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-contact">
        <p class="footer-contact__text">
          Feel free to contact
          <a class="footer-contact__link" href="tel:+610383766284">
            +61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="footer-rights">
    <p class="footer-rights__first">
      © 2022 - IceCream.
      <span class="footer-rights__second">All Rights Reserved.</span>
    </p>
  </div>
</footer>
