<section class="section section-gallery">
  <div class="container gallery__container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery__wrapper opacity">
      
      <picture class="gallery__card">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/desktop/StudioFoto1@1x.jpg 1x,
            ./images/desktop/StudioFoto1@2x.jpg 2x
          "
          type="image/jpg"
        />

        <source
          media="(min-width: 481px)"
          srcset="
            ./images/tablet/studioFoto1@1x.jpg 1x,
            ./images/tablet/studioFoto1@2x.jpg 2x
          "
          type="image/jpg"
        />

        <source
          media="(max-width: 480px)"
          srcset="
            ./images/mobile/StudioFoto1@1x.jpg 1x,
            ./images/mobile/StudioFoto1@2x.jpg 2x
          "
          type="image/jpg"
        />

        <img
          class="gallery__img"
          src="./images/mobile/StudioFoto1@1x.jpg"
          alt="studiofoto1"
        />
      </picture>

      <picture class="gallery__card">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/desktop/studioFoto2@1x.jpg 1x,
            ./images/desktop/studioFoto2@2x.jpg 2x
          "
          type="image/jpg"
        />

        <source
          media="(min-width: 481px)"
          srcset="
            ./images/tablet/studiofoto2@1x.jpg 1x,
            ./images/tablet/studiofoto2@2x.jpg 2x
          "
          type="image/jpg"
        />

        <source
          media="(max-width: 480px)"
          srcset="
            ./images/mobile/studiofoto2@1x.jpg 1x,
            ./images/mobile/studiofoto2@2x.jpg 2x
          "
          type="image/jpg"
        />

        <img
          class="gallery__img"
          src="./images/mobile/studiofoto2@1x.jpg"
          alt="studiofoto2"
        />
      </picture>

      <picture class="gallery__card">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/desktop/studioFoto3@1x.jpg 1x,
            ./images/desktop/studioFoto3@2x.jpg 2x
          "
          type="image/jpg"
        />

        <source
          media="(min-width: 481px)"
          srcset="
            ./images/tablet/studiofoto3@1x.jpg 1x,
            ./images/tablet/studiofoto3@2x.jpg 2x
          "
          type="image/jpg"
        />

        <source
          media="(max-width: 480px)"
          srcset="
            ./images/mobile/studiofoto3@1x.jpg 1x,
            ./images/mobile/studiofoto3@2x.jpg 2x
          "
          type="image/jpg"
        />

        <img
          class="gallery__img"
          src="./images/mobile/studiofoto3@1x.jpg"
          alt="studiofoto3"
        />
      </picture>
    </div>
  </div>
</section>
