<section class="section section-gallery">
  <div class="container gallery__container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery__wrapper opacity">
      <img
        class="gallery__img"
        src="./images/desktop/StudioFoto1@1x.jpg"
        alt=""
      />
      <img
        class="gallery__img"
        src="./images/desktop/StudioFoto2@1x.jpg"
        alt=""
      />
      <img
        class="gallery__img"
        src="./images/desktop/StudioFoto3@1x.jpg"
        alt=""
      />
    </div>
  </div>
</section>
