<header class="container">
  <div class="header">
    <svg class="logo">
      <use href="./images/sprite.svg#ice_logo"></use>
    </svg>
    <nav class="">
      <ul class="header-nav">
        <li class="header-nav__item">
          <a class="header-link" href="">Home</a>
        </li>
        <li class="header-nav__item">
          <a class="header-link" href="">How it’s made?</a>
        </li>
        <li class="header-nav__item">
          <a class="header-link" href="">Our products</a>
        </li>
        <li class="header-nav__item">
          <a class="header-link" href="">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="btn-light__header" type="button">
      Buy now
      <svg class="button_arrow">
        <use href="./images/sprite.svg#button_arrow"></use>
      </svg>
    </button>
    <button
      class="menu-toggle js-open-menu"
      type="button"
      name="menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg width="40px" height="40px" aria-label="Перемикач мобільного меню">
        <use class="menu-toggle__icon" href="./images/sprite.svg#burger"></use>
      </svg>
    </button>
    <div class="menu-container js-menu-container" id="mobile-menu">
      <button class="menu-toggle js-close-menu" type="button" name="menu">
        <svg width="40px" height="40px" aria-label="Перемикач мобільного меню">
          <use
            class="menu-toggle__cross"
            href="./images/sprite.svg#mobile-menu-close"
          ></use>
        </svg>
      </button>
      <ul class="mobile-nav">
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" href="#about">About</a>
        </li>
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" href="#services">Services and prices</a>
        </li>
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" href="#barbers">Barbers</a>
        </li>
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" href="#contacts">Contacts</a>
        </li>
      </ul>
      <a class="mobile-nav__link" href="tel:+380441111111">+38 044 111 11 11</a>
      <button class="btn-dark__mobile" type="button">ONLINE-BOOKING</button>
      <ul class="mobile-link">
        <li class="mobile-link__instagram">
          <a
            class="link"
            href="https://Instagram.com"
            target="_blank"
            rel="noopener noreferrer"
            >Instagram</a
          >
        </li>
        <li class="mobile-link__youtube">
          <a
            class="link"
            href="https://Youtube.com"
            target="_blank"
            rel="noopener noreferrer"
            >Youtube</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
