<header class="container">
  <div class="header">
    <svg class="logo">
      <use href="./images/sprite.svg#ice_logo"></use>
    </svg>
    <nav class="header-menu">
      <ul class="header-nav">
        <li class="header-nav__item">
          <a class="header-nav__link" href="">Home</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="">How it’s made?</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="">Our products</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="">Contact</a>
        </li>
      </ul>      
    </nav>    
    <button
      class="menu-toggle js-open-menu"
      type="button"
      name="menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg width="40px" height="40px" aria-label="Перемикач мобільного меню">
        <use class="icon-menu" href="./images/sprite.svg#burger"></use>
      </svg>
    </button>
    <button class="header__buy-now" data-modal="">
    <span>Buy now</span>
    <svg class="header__buy-arrow" width="12" height="12">
      <use href="./images/sprite.svg#button_arrow"></use>
    </svg>
  </button>    
  </div>
</header>
