<section class="hero">
                <div class="container">
                    <h1 class="hero__title"><span class="hero__title--first-line">ice cream</span></br><span class="hero__title--second-line">made with</span></br><span class="hero__title--third-line">passion</span></h1>
                   <div class="hero__buttons">
					<button type="button" class="hero__btn btn" id="products">Products</button>
                    <button type="button" class="hero__btn-link" id="about">
                    How it’s made?
                    </button>
				   </div>
                    <div class="hero__icecream">
                        <picture>
								<source
									srcset="/src/images/desktop/hero@1x.png 1x, /src/images/desktop/hero@2x.png 2x"
									media="(min-width: 1200px)"
                          
								/>
								<source
									srcset="/src/images/tablet/hero@1x.png 1x, /src/images/tablet/hero@2x.png 2x"
									media="(min-width: 768px)"
								/>
								<source
									srcset="/src/images/mobile/hero@1x.png 1x, /src/images/mobile/hero@2x.png 2x"
									media="(max-width: 767px)"
								/>
								<img src="/src/images/mobile/hero@1x.png" alt="smiling ice cream" width="pixel" />
							</picture>
                        </div>
						
                    <div class="hero__plate">
                       <picture>
								<source
									srcset="/src/images/desktop/plate@1x.png 1x, /src/images/desktop/plate@2x.png 2x"
									media="(min-width: 1200px)"
                          
								/>
								<source
									srcset="/src/images/tablet/plate@1x.png 1x, /src/images/tablet/plate@2x.png 2x"
									media="(min-width: 768px)"
								/>
								<img src="/src/images/tablet/plate@1x.png" alt="round plate of icecream" width="pixel" />
							</picture>
                    </div>
                    <div class="hero__text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                        <button class="hero__arrow">
							<svg  width="50" height="15">
								<use href="/src/images/sprite.svg#Arrow" class="hero__arrow--normal"></use>
								<use href="/src/images/sprite.svg#Arrow_focus" class="hero__arrow--focus"></use>
								<use href="/src/images/sprite.svg#Arrow_hover" class="hero__arrow--hover"></use>
							</svg>
    					</button>

                    </div>
                </div>
                </section>