<section class="hero">
                <div class="container">
                    <h1 class="hero__title"><span class="hero__title--first-line">ice cream</span></br><span class="hero__title--second-line">made with</span></br><span class="hero__title--third-line">passion</span></h1>
                    <button type="button" class="hero__product" id="products">Products</button>
                    <button type="button" class="hero__modal-video" id="about">
                    How it’s made?
                    </button>
                    <div class="hero__icecream">
                        <picture>
								<source
									srcset="img/desktop/hero@1x.png 1x, img/desktop/hero@2x.png 2x"
									media="(min-width: 1200px)"
                          
								/>
								<source
									srcset="img/tablet/hero@1x.png 1x, img/tablet/hero@2x.png 2x"
									media="(min-width: 768px)"
								/>
								<source
									srcset="img/mobile/hero@1x.png 1x, img/mobile/hero@2x.png 2x"
									media="(min-width: 320px)"
								/>
								<img src="img/mobile/hero@1x.png" alt="smiling ice cream" width="pixel" />
							</picture>
                        </div>
                    <div class="hero__plate">
                       <picture>
								<source
									srcset="img/desktop/plate@1x.png 1x, img/desktop/plate@2x.png 2x"
									media="(min-width: 1200px)"
                          
								/>
								<source
									srcset="img/tablet/plate@1x.png 1x, img/tablet/plate@2x.png 2x"
									media="(min-width: 768px)"
								/>
								<img src="img/tablet/plate@1x.png" alt="round plate of icecream" width="pixel" />
							</picture>
                    </div>
                    <div class="hero__text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                        <svg><use></use></svg>

                    </div>
                </div>
                </section>