<section class="section__products" id="products">
    <div class="container">
        <p class="section__label products__label uppercase">100% natural</p>
        <h2 class="section__title section__title--center uppercase">products</h2>

        <ul class="list product__box">
            <li class="products__items">
                <h3 class="product__name uppercase">ice cream</h3>
                <p class="product__text">
                    Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
                </p>
                <button class="more_about_products js-modal-open" data-modal="ingredients-modal" type="button">
                    <svg class="arrow" width="40" height="15">
                       <use href="./images/sprite.svg#arrow" ></use>
                   </svg>
                    <svg class="arrow_hover" width="50" height="15">
                       <use href="./images/sprite.svg#arrow_hover"></use>
                   </svg>
                  <svg class="arrow_focus" width="50" height="20">
                       <use href="./images/sprite.svg#arrow_focus"></use>
                   </svg> 
               </button>
                </li>
                <li class="products__items">
                    <h3 class="product__name uppercase">ice coffee</h3>
                    <p class="product__text">
                        Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers
                    </p>
                    <button class="more_about_products js-modal-open" data-modal="ingredients-modal" type="button">
                        <svg class="arrow" width="40" height="15">
                            <use href="./images/sprite.svg#arrow" ></use>
                        </svg>
                         <svg class="arrow_hover" width="50" height="15">
                            <use href="./images/sprite.svg#arrow_hover"></use>
                        </svg>
                       <svg class="arrow_focus" width="50" height="20">
                            <use href="./images/sprite.svg#arrow_focus"></use>
                        </svg> 
                   </button>
                    </li>
                    <li class="products__items">
                        <h3 class="product__name uppercase">milkshakes</h3>
                        <p class="product__text">
                            Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice
                       </p>
                        <button class="more_about_products js-modal-open" data-modal="ingredients-modal" type="button">
                            <svg class="arrow" width="40" height="15">
                                <use href="./images/sprite.svg#arrow" ></use>
                            </svg>
                             <svg class="arrow_hover" width="50" height="15">
                                <use href="./images/sprite.svg#arrow_hover"></use>
                            </svg>
                           <svg class="arrow_focus" width="50" height="20">
                                <use href="./images/sprite.svg#arrow_focus"></use>
                            </svg> 
                       </button>
                        </li>
              </ul>
    </div>
</section>