<section class="section section-reviews">
  <div class="container">
    <h2 class="visually-hidden">Reviews</h2>
    <ul class="reviews one-time">

      <li class="reviews__item">
        <img
          srcset="
            ./images/mobile/review1@1x.png 1x,
            ./images/mobile/review1@2x.png 2x
          "
          src="./images/mobile/review1@1x.png"
          alt="Emily, Los Angeles"
          class="reviews__img"
        />
        <p class="reviews__text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="reviews__location">Emily, Los Angeles</p>
      </li>

      <li class="reviews__item">
        <img
          srcset="
            ./images/mobile/review2@1x.png 1x,
            ./images/mobile/review2@2x.png 2x
          "
          src="./images/mobile/review2@1x.png"
          alt="Sam, Los Angeles"
          class="reviews__img"
        />
        <p class="reviews__text">
          I love eating popsicles on a hot day. Yours is always delicious. I
          recommend your cafe to everyone I know.
        </p>
        <p class="reviews__location">Sam, Los Angeles</p>
      </li>

      <li class="reviews__item">
        <img
          srcset="
            ./images/mobile/review3@1x.png 1x,
            ./images/mobile/review3@2x.png 2x
          "
          src="./images/mobile/review3@1x.png"
          alt="Diana, Chicago"
          class="reviews__img"
        />
        <p class="reviews__text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <p class="reviews__location">Diana, Chicago</p>
      </li>

      <li class="reviews__item">
        <img
          srcset="
            ./images/mobile/review4@1x.png 1x,
            ./images/mobile/review4@2x.png 2x
          "
          src="./images/mobile/review4@1x.png"
          alt="Bryan, New-York"
          class="reviews__img"
        />
        <p class="reviews__text">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <p class="reviews__location">Bryan, New-York</p>
      </li>
      
    </ul>
  </div>
</section>
