.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 34px;
  cursor: pointer;
  border: none;
  font-family: $main-font;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;

  color: $black-btn-cl;
  background-color: $yellow-btn-bg;
  border-radius: 10px;
  text-decoration: none;
  transition: color $anim, background-color $anim;

  &:hover {
    background-color: $green-btn-bg;
  }
  &:focus {
    background-color: $green-btn-bg;
    color: $white-btn-cl;
  }
  &:disabled {
    background-color: $grey-btn-bg;
  }
}

.header__btn {
  @media screen and (max-width: 767px) {
    display: none;
  }
  line-height: 1.21;
}

.hero__btn {
  display: inline-block;
  @media screen and (max-width: 1199px) {
    font-size: 8px;
    line-height: 1.25;
    padding: 5px 8px;
    width: 62px;
    border-radius: 8px;
  }
  border: 2px solid $yellow-btn-br;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  transition: border $anim, background-color $anim;

  &:hover,
  &:focus {
    background-color: transparent;
    border-color: $green-btn-br;
  }
  &:disabled {
    border-color: $grey-btn-br;
  }
}

.hero__btn-link {
  @media screen and (max-width: 1199px) {
    font-size: 8px;
    line-height: 1.25;
    padding: 7px 18px;
  }

  display: block;
  padding: 14px 34px;
  line-height: 1.21;
  border: none;
  color: $yellow-btn-cl;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  transition: color $anim;

  &:hover {
    color: $green-btn-cl;
    background-color: transparent;
  }
  &:focus {
    color: $white-btn-cl;
    background-color: transparent;
  }
  &:disabled {
    color: $grey-btn-cl;
    background-color: transparent;
  }
}

.about__btn {
  width: max-content;
}

.contacts__btn {
  width: 196px;
  &--transparent {
    padding: 12px 46px;
    background-color: transparent;
    border: 2px solid $yellow-btn-br;
    &:hover,
    &:focus {
      background-color: transparent;
      border-color: $green-btn-br;
    }
    &:disabled {
      border-color: $grey-btn-br;
    }
  }
  transition: border $anim, background-color $anim;
}

#button {
  display: inline-block;
  color: $black-btn-cl;
  background-color: $grey-btn-bg;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;

  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  &:hover {
    color: $white-btn-cl;
    background-color: $yellow-bg;
    cursor: pointer;
  }
  &:active {
    background-color: $dark-green-bg;
  }

  svg {
    transform: rotate(-90deg) scale(0.5);
    fill: none;
    stroke: currentColor;
    transition: transform $anim;
  }

  &:hover svg,
  &:focus svg {
    transform: rotate(-90deg) scale(0.7);
  }
}
