// overlay

.overlay {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 100;

  background-color: $overlay-bg;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

//base modals styles

.modal {
  visibility: hidden;
  opacity: 0;

  position: fixed;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 280px;

  z-index: 1000;

  padding: 28px 28px;

  border: 2px solid $yellow-modal-br;
  border-radius: 10px;

  background-color: $modal-bg;

  &.is-open {
    visibility: visible;
    opacity: 1;
  }

  &--ingredients {
    padding: 28px 20px 32px 20px;
  }

  @media screen and (min-width: 768px) {
    width: 568px;

    padding: 32px 60px;

    &--buy-now {
      padding-left: 54px;
      padding-right: 54px;
    }

    &--ingredients {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

// base modal close button styles

.modal__btn {
  position: absolute;
  cursor: pointer;

  top: 8px;
  right: 8px;

  width: 16px;
  height: 16px;

  padding: 0;
  border: none;

  background-color: transparent;

  &:hover,
  &:focus {
    fill: $light-icon-cl;
  }

  @media screen and (max-width: 767) {
    &--ingredients {
      top: 28px;
      right: 20px;

      width: 20px;
      height: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;

    width: 20px;
    height: 20px;
  }
}

.modal__close {
  width: 100%;
  height: 100%;

  fill: $dark-icon-cl;
}

.modal__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    margin-bottom: 32px;
  }
}

.modal__text {
  color: $accent-txt-cl;
  font-size: 14px;
  line-height: calc(20 / 14);

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(22 / 16);
  }
}

// our location modal styles

.location-map {
  display: block;
  width: 100%;
  height: 199px;

  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    height: 260px;
    margin-bottom: 32px;
  }
}

.location-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.22;
  text-align: center;
  text-decoration: none;

  width: 137px;

  display: block;
  margin: auto;
  padding: 12px 34px;
  border-radius: 10px;

  background-color: $yellow-btn-bg;

  &:hover,
  &:focus {
    background-color: $green-btn-bg;
  }

  &:focus {
    color: $white-btn-cl;
  }

  &:disabled {
    background-color: $grey-btn-bg;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    width: 148px;
  }
}

// Read More  styles
.read-more__video {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  height: 199px;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    height: 205px;
  }
}

// Franshize modal styles

.modal-form {
  margin-top: 24px;

  @media screen and (min-width: 768px) {
    margin-top: 32px;
  }
}

.modal-form__label {
  font-weight: 400;
  font-size: 12px;
  color: $accent-txt-cl;
  line-height: calc(17 / 12);
  padding-left: 12px;
  display: block;
  margin-bottom: 12px;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: calc(20 / 14);
    margin-bottom: 16px;
  }
}

.modal-form__input {
  height: 32px;
  padding: 8px;
  width: 100%;
  padding: 0 12px;
  border: 1px solid $dark-green-bg;
  border-radius: 10px;
  background: $input-bg;

  @media screen and (min-width: $tablet) {
    height: 42px;
  }
}

.modal-form__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  color: $accent-txt-cl;
  line-height: calc(17 / 12);
  color: $accent-txt-cl;
  font-size: 14px;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: calc(20 / 14);
  }
}

.modal-form__input--textarea {
  resize: none;
  height: 64px;
  padding-top: 8px;
  padding-bottom: 7px;

  @media screen and (min-width: $tablet) {
    height: 84px;
  }
}

.submit__btn {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.modal__title--franshise {
  @media screen and (min-width: $tablet) {
    margin-left: auto;
    margin-right: auto;
    width: 322px;
  }
}

// ingredients modal styles

.modal-ingredients-img-wrap {
  position: relative;
  z-index: 1;
  width: 131px;
  height: 131px;

  margin: 0 auto;
  margin-bottom: 31px;

  &::after {
    content: '';
    position: absolute;
    width: 131px;
    height: 131px;
    z-index: -1;
    left: 0;
    top: 7;

    border-radius: 50%;
    box-shadow: $green-small-circle-box-shadow;
    background: $green-circle-bg;
  }
}

.modal-ingredients-desc {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 39px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    gap: 20px;
    margin-bottom: 48px;
  }
}

.modal-ingredients-desc__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  width: 53px;
  height: 72px;

  padding-bottom: 8px;

  border: 2px solid $green-ellipse-br;
  border-radius: 40px;

  @media screen and (min-width: 768px) {
    width: 65px;
    height: 90px;
  }
}

.modal-ingredients-desc__text-val {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: -1px;

  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;

  width: 43px;
  height: 43px;

  border: 2px solid $green-ellipse-br;
  border-radius: 50%;
  box-shadow: $green-small-circle-box-shadow;

  background-color: $green-small-circle-bg;

  @media screen and (min-width: 768px) {
    font-size: 12px;

    width: 53px;
    height: 53px;
  }
}

.modal-ingredients-desc__text-desc {
  font-size: 10px;
  line-height: 1.2;

  margin-top: auto;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.25;
  }
}

.modal-ingredients-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;

  margin-bottom: 24px;
}

.modal-ingtedients {
  margin-bottom: 48px;
}

.modal-ingredients__item {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 11px;
  }
}

.modal-ingredients__values {
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
}

.modal-ingredients-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.22;

  padding: 12px 34px;
  margin: 0 auto;

  cursor: pointer;
  border: none;
  border-radius: 10px;

  background-color: $yellow-btn-bg;

  &:hover,
  &:focus {
    background-color: $green-btn-bg;
  }

  &:focus {
    color: $white-btn-cl;
  }

  &:disabled {
    background-color: $grey-btn-bg;
  }
}
