.section-advantages {
  background-color: $dark-green-bg;
  padding-bottom: 60px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 204px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 180px;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.04em;
  color: $main-txt-cl;
  margin-bottom: 18px;

  @media screen and (max-width: 767px) {
    text-transform: uppercase;
    font-family: $additional-font;
  }

  @media screen and (min-width: $tablet) {
    font-size: 48px;
    line-height: calc(59 / 48);
    margin-bottom: 16px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 58px;
    line-height: calc(71 / 58);
  }
}
.advantages__text {
  font-weight: 700;
  font-size: 12px;
  line-height: calc(20 / 12);
  text-align: center;
  color: $main-txt-cl;
  

  @media screen and (min-width: $tablet) {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    
  }
  @media screen and (min-width: $desktop) {
    
    font-size: 16px;
    line-height: calc(28 / 16);
    letter-spacing: 0.02em;
  }
}

.advantages__item--cow::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-image: url(../images/icons-png/cow.png);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/icons-png/cow@2x.png);
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 40px;
  }
}
.advantages__item--weight::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-image: url(../images/icons-png/weight.png);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/icons-png/weight@2x.png);
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 40px;
  }
}
.advantages__item--icecream::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-image: url(../images/icons-png/icecream.png);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/icons-png/icecream@2x.png);
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 40px;
  }
}

.advantages {
  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 80px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    gap: 32px;
  }
}
.advantages__item {
 
  margin-left: auto;
  margin-right: auto;


  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
    max-width: 230px;
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 160px) / 3);
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 64px) / 3);
    
  }
}
