.section-address {
    position: relative;
    background-color: $dark-green-bg;
    height: 1145px;

    @media screen and (min-width: $tablet) {
        height: 375px;
    }

    @media screen and (min-width: $desktop) {
        height: 670px;
    }


}

.container__address {
    position: absolute;
    top: -345px;
    left: 0;
    right: 0;

    @media screen and (min-width: $tablet) {
        top: -304px;
    }

    @media screen and (min-width: $desktop) {
        top: -96px;
    }
}

.address {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: $accent-txt-cl;
    font-weight: 500;
    letter-spacing: 0.04em;
    font-size: 12px;
    font-family: $main-font;
    line-height: calc(22 / 12);
    align-items: center;
    margin-bottom: 32px;
    justify-content: center;

    @media screen and (min-width: $tablet) {
        flex-direction: row;
        font-size: 14px;
        line-height: calc(26 / 14);
        margin-bottom: 64px;
    }

    @media screen and (min-width: $desktop) {
        flex-direction: row;
        font-size: 16px;
        line-height: calc(30 / 16);
    }

}

.address__item {
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    background-color: $main-txt-cl;
    padding: 40px 32px;
    width: 280px;
    transition: .3s linear;

    @media screen and (min-width: $tablet) {
        width: 224px;
        padding: 40px 24px;
    }

    @media screen and (min-width: $desktop) {
        width: 368px;
        padding: 40px 40px;
    }

    &:hover {
        box-shadow: 2px 2px rgb(255, 255, 255), 5px 5px $dark-green-bg;
    }

}

.address__box {
    background-color: $yellow-txt-cl;
    border-radius: 4px;
    width: 80px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 0px;

    @media screen and (min-width: $tablet) {
        width: 73px;
        height: 28px;
        margin-bottom: 32px;
    }

    .address__tittle {
        font-weight: 500;
        font-size: 12px;
        line-height: calc(22 / 12);
        letter-spacing: 0.04em;

        @media screen and (min-width: $tablet) {
            font-size: 16px;
            line-height: calc(30 / 16);
        }

    }
}

.address__box--width {
    width: 130px;

    @media screen and (min-width: $tablet) {
        width: 138px;
    }
}

.address__list {
    margin-bottom: 48px;

    @media screen and (min-width: $tablet) {
        margin-bottom: 58px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 64px;
    }

    &::after {
        content: "";
        width: 216px;
        display: block;
        height: 0.5px;
        position: relative;
        bottom: -24px;
        background-color: #E1E1E1;

        @media screen and (min-width: $tablet) {
            width: 176px;
        }

        @media screen and (min-width: $desktop) {
            width: 288px;
        }
    }

    .article__name {
        margin-bottom: 8px;
        font-weight: 500;
        letter-spacing: 0.04em;
    }

}

.address__link {
    position: relative;
    color: $brown-txt-cl;
    text-decoration: none;
    letter-spacing: 0.04em;

    &:hover {
        color: $brown-txt-cl;
    }

    &:hover::before {
        transform: scaleX(1);
        transform-origin: left;
        transition: -webkit-transform 0.25s;
        transition: transform 0.25s;
        transition: transform 0.25s, -webkit-transform 0.25s;
    }

    &::before {
        content: '';
        width: 100%;
        height: 1px;
        background-color: $brown-txt-cl;
        position: absolute;
        left: 0;
        bottom: -5px;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.25s;
    }
}

.article__list {
    margin-bottom: 48px;

    @media screen and (min-width: $tablet) {
        margin-bottom: 64px;
    }

    &::after {
        content: "";
        width: 216px;
        display: block;
        height: 0.5px;
        position: relative;
        bottom: -24px;
        background-color: #E1E1E1;

        @media screen and (min-width: $tablet) {
            width: 176px;
        }

        @media screen and (min-width: $desktop) {
            width: 288px;
        }
    }
}

.article__item {
    margin-bottom: 8px;

    @media screen and (min-width: $tablet) {
        margin-bottom: 12px;
    }
}

.article {
    color: $grey-btn-bg;
}

.main__link {
    color: $black-btn-cl;
    text-decoration: none;
    font-style: normal;
}

.list__btn {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    @media screen and (min-width: $tablet) {
        flex-direction: row;
        justify-content: center;

    }

    .contacts__btn {
        display: flex;
        align-items: center;
        gap: 10px;
        stroke: currentcolor;
        Fill: none;
    }
}

br {
    @media screen and (min-width: $tablet) {
        display: none;

    }

}

.tablet_article {
    display: none;

    @media screen and (min-width: $tablet) {
        display: inline;

    }

    @media screen and (min-width: $desktop) {
        display: none;
    }
}