.logo {  
  width: 48px;
  height: 44px;
  @media screen and (max-width: 767px) {
       width: 40px;
  height: 37px; 
  }
  @media screen and (min-width: 768px) {
    width: 48px;
  height: 44px;
  }  
}

.header {  
  position: absolute;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    height: 61px;    
      }
  @media screen and (min-width: 768px) {
    height: 90px; 
  }
  @media screen and (min-width: 1200px) {
    height: 98px; 
  }
}

.header-nav {
  display: flex;
  list-style: none;
  padding-left: 0;
  @media screen and (min-width: 768px) {
    gap: 16px;
  }
  @media screen and (min-width: 1200px) {
    gap: 30px;
  }
}

.header-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  color: $main-txt-cl;
  display: flex;
//   transition-property: color;
//   transition-duration: 250ms;
//   transition-timing-function: $anim;
}

.header-link:hover,
.header-link:focus {
  color: $yellow-txt-cl;
}

.button_arrow {
    width: 6px;
  height: 6px;
}

.btn-light__header {
  @extend .header__btn;
  @extend .btn;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    margin-left: 45px;
  }
  display: flex;
}

@media screen and (max-width: 767px) {
  .header-nav,
  .header-link,
  .header__btn {
    display: none;
  }
}