.hero {
    color: $main-txt-cl;
    background-color: $dark-green-bg;
    padding-top: 58px;
    padding-bottom: 239px;

    background-image: url(/src/images/mobile/heroDots@1x.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    
}


.hero .container {
    position: relative;
}

.hero__title {
    font-family: $secondary-font;
    font-weight: 400;
    text-transform: uppercase;

    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;

    & span {
        display: block;
    }
}


.hero__title--third-line {
    font-size: 34px;
    line-height: 1;
}

.hero__buttons {
    display: flex;
    margin-top: 35px;
}


.hero__icecream {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -292px;
    pointer-events: none;
    animation-name: bounce;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: 1;
    
    @media screen and (max-width: 767px) {
        & img {   
            margin-left: auto;
            margin-right: auto; 
        }  
    }

}

@keyframes bounce {
    0% {
        bottom: -370px;
        scale: 0.5;
    }

    50% {
        bottom: -320px;
        scale: 0.75;
    }

    100% {
        bottom: -292px;
        scale: 1;
    }
}


.hero__plate {
    display: none;
}

.hero__text {
    display: none;
}

.branches {
    display: none;
}

@media screen and (min-width: 768px) {
    .hero {
        padding-top: 32px;
        padding-bottom: 14px;
        background-image: url(/src/images/tablet/heroDots@1x.png);
        background-position: bottom center;
       
    }

    .hero .container {
        padding: 0 400px 0 32px;
    }

    .hero__title {
        font-size: 18px;
        line-height: 1.33;

        @media screen and (max-width: 1199px) {
            .hero__title--third-line {
            font-size: 24px;
            line-height: 1;
            }
        }
    }

    .hero__text {
        display: block;
        max-width: 151px;
        margin: 56px 0 0 185px;

        font-size: 12px;
        line-height: 1.4;
    }

    .hero__buttons {
       margin-top: 22px;
    }

    .hero__icecream {
        bottom: -70px;
        left: 47%;

        @keyframes bounce {
                0% {
                    bottom: -25px;
                    scale: 0.5;
                }
        
                50% {
                    bottom: -50px;
                    scale: 0.75;
                }
        
                100% {
                    bottom: -70px;
                    scale: 1;
                }
            }
    }

    .hero__plate {
        display: block;
        position: absolute;
        left: 32px;
        bottom: -4px;

        animation-name: plate;
        animation-timing-function: linear;
        animation-duration: 2s;
        animation-iteration-count: 1;

        @keyframes plate {
                0% {
                    left: -100px;
                    scale: 0.5;
                }
        
                50% {
                    left: -32px;
                    scale: 0.75;
                }
        
                100% {
                   left: 32px;
                   scale: 1;
                }
            }
    }

    .hero__arrow {
        position: relative;
        margin-top: 8px;
        padding: 0;
        border: none;
        background-color: transparent;
    }


    .branches {
        display: block;
        position: absolute;
        top: 0;
        right: 32px;
        text-align: end;
    }

    .branches__number{
        display: block;
        margin-bottom: 4px;

        color: $accent-txt-cl;
        font-size: 28px;
        font-weight: 900;
        line-height: 1.21;
        letter-spacing: 00.04em;

        &:not(:first-child) {
            margin-top: 20px;
        }

    }

    .branches__text {
        font-size: 8px;
        line-height: 1.25;
    }


}

@media screen and (min-width: 1200px) {
    .hero {
        padding-top: 44px;
        padding-bottom: 96px;
        background-image: url(/src/images/desktop/heroDots@1x.png);
        background-position: bottom center;

    }

    .hero .container {
        padding: 0 744px 0 16px;
    }

    .hero__title {
        font-size: 38px;
        line-height: 1.26;
        letter-spacing: 00.04em;
    }

    .hero__icecream {
        bottom: -196px;
        right: 0;

        @keyframes bounce {
                0% {
                    bottom: -270px;
                    scale: 0.5;
                }
        
                50% {
                    bottom: -250px;
                    scale: 0.75;
                }
        
                100% {
                    bottom: -196px;
                    scale: 1;
                }
            }
    
    
    }

    .hero__plate {
        left: 17px;
        bottom: -31px;

        @keyframes plate {
                0% {
                    left: -100px;
                    scale: 0.5;
                }
        
                50% {
                    left: -32px;
                    scale: 0.75;
                }
        
                100% {
                    left: 17px;
                    scale: 1;
                }
            }

    }

    .hero__buttons {
       margin-top: 32px;
    }
    
    .hero__text {
        max-width: 200px;
        margin: 109px 0 0 240px;
        font-size: 14px;
        line-height: 1.42;

    }

    .hero__arrow {
        margin-top: 20px;
    }

    .branches {
        right: 16px;
        text-align: end;
    }

    .branches__number {
        font-size: 46px;

        &:not(:first-child) {
            margin-top: 16px;
        }
    }

    .branches__text{
        font-size: 14px;
    }
}

.arrow--white {
    display: block;
    z-index: 3;
    height: 100%;
    fill: $white-btn-cl;
    transition: fill $anim;

    .hero__arrow:hover &,
    .hero__arrow:focus &,
    .hero__arrow:active & {
        fill: transparent;
    }
}

.arrow_hover--white {
    display: block;
    position: absolute;
    top: 0;
    z-index: 4;
    fill: transparent;
    height: 100%;
    transition: fill $anim;

    .hero__arrow:hover & {
        fill: $white-btn-cl;
    }


}

.arrow_focus--white {
    display: block;
    position: absolute;
    top: 0;
    z-index: 5;
    height: 100%;
    fill: transparent;
    transition: fill $anim;

    .hero__arrow:focus & {
        
        fill: $white-btn-cl;
    }
}

.hero__arrow:hover,
.hero__arrow:focus {
    cursor: pointer;
    width: 50px;
    outline: none;
}