.hero {
    color: $main-txt-cl;
    background-color: $dark-green-bg;
}


.hero .container {
    position: relative;
    padding-top: 58px;
    padding-bottom: 239px;

    background-image: url(/src/images/mobile/heroDots@1x.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (min-resolution: 2dppx),
    screen and (min-resolution: 192dpi),
    screen and (min-device-pixel-ratio: 2) {
        background-image: url(/src/images/mobile/heroDots@2x.png);
    }
}

.hero__title {
    font-family: $secondary-font;
    font-weight: 400;
    text-transform: uppercase;

    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;

    & span {
        display: block;
    }
}


.hero__title--third-line {
    font-size: 34px;
    line-height: 1;
}

.hero__buttons {
    margin-top: 32px;
}


.hero__icecream {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -53px;
    pointer-events: none;
    animation-name: bounce;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: 1;
    
    @media screen and (max-width: 767px) {
        & img {   
            margin-left: auto;
            margin-right: auto; 
        }  
    }

}

@keyframes bounce {
    0% {
        bottom: 0px;
        scale: 0.5;
    }

    50% {
        bottom: -25px;
        scale: 0.75;
    }

    100% {
        bottom: -53px;
        scale: 1;
    }
}


.hero__plate {
    display: none;
}

.hero__text {
    display: none;
}

.branches {
    display: none;
}

@media screen and (min-width: 768px) {
    .hero .container {
        padding: 32px 400px 14px 32px;
        background-image: url(/src/images/tablet/heroDots@1x.png);

        @media screen and (min-resolution: 2dppx),
        screen and (min-resolution: 192dpi),
        screen and (min-device-pixel-ratio: 2) {
            background-image: url(/src/images/tablet/heroDots@2x.png);
        }
    }

    .hero__title {
        font-size: 18px;
        line-height: 1.33;

        @media screen and (max-width: 1199px) {
            .hero__title--third-line {
            font-size: 24px;
            line-height: 1;
            }
        }
    }

    .hero__text {
        display: block;
        max-width: 151px;
        margin: 56px 0 0 185px;

        font-size: 12px;
        line-height: 1.4;
    }

    .hero__buttons {
       margin-top: 20px;
    }

    .hero__icecream {
        bottom: -56px;
        left: 47%;

        @keyframes bounce {
                0% {
                    bottom: 0px;
                    scale: 0.5;
                }
        
                50% {
                    bottom: -25px;
                    scale: 0.75;
                }
        
                100% {
                    bottom: -56px;
                    scale: 1;
                }
            }
    }

    .hero__plate {
        display: block;
        position: absolute;
        left: 32px;
        bottom: 10px;

        animation-name: plate;
        animation-timing-function: linear;
        animation-duration: 2s;
        animation-iteration-count: 1;

        @keyframes plate {
                0% {
                    left: -100px;
                    scale: 0.5;
                }
        
                50% {
                    left: -32;
                    scale: 0.75;
                }
        
                100% {
                   left: 32px;
                   scale: 1;
                }
            }
    }

    .hero__arrow {
        margin-top: 8px;
        margin-left: 20px;
        padding: 0;
        border: none;
        fill: $white-btn-cl;
        background-color: transparent;
        transform: translateX(-50%);
    }


    .branches {
        display: block;
        position: absolute;
        top: 22px;
        right: 32px;
        text-align: end;
    }

    .branches__number{
        display: block;
        margin-bottom: 4px;

        color: $accent-txt-cl;
        font-size: 28px;
        font-weight: 900;
        line-height: 1.21;
        letter-spacing: 00.04em;

        &:not(:first-child) {
            margin-top: 20px;
        }

    }

    .branches__text {
        font-size: 8px;
        line-height: 1.25;
    }


}

@media screen and (min-width: 1200px) {
    .hero .container {
        padding: 44px 744px 96px 16px;
        background-image: url(/src/images/desktop/heroDots@1x.png);

        @media screen and (min-resolution: 2dppx),
        screen and (min-resolution: 192dpi),
        screen and (min-device-pixel-ratio: 2) {
            background-image: url(/src/images/desktop/heroDots@2x.png);
        }
    }

    .hero__title {
        font-size: 38px;
        line-height: 1.26;
        letter-spacing: 00.04em;
    }

    .hero__icecream {
        bottom: -17%;
        right: 0;

        @keyframes bounce {
                0% {
                    bottom: 0px;
                    scale: 0.5;
                }
        
                50% {
                    bottom: -25px;
                    scale: 0.75;
                }
        
                100% {
                    bottom: -100px;
                    scale: 1;
                }
            }
    
    
    }

    .hero__plate {
        left: 17px;
        bottom: 65px;

        @keyframes plate {
                0% {
                    left: -100px;
                    scale: 0.5;
                }
        
                50% {
                    left: -32;
                    scale: 0.75;
                }
        
                100% {
                    left: 17px;
                    scale: 1;
                }
            }

    }

    .hero__buttons {
       margin-top: 28px;
    }
    
    .hero__text {
        max-width: 200px;
        margin: 109px 0 0px 240px;
        font-size: 14px;
        line-height: 1.42;

    }

    .hero__arrow {
        margin-top: 12px;
    }

    .branches {
        top: 52px;
        right: 16px;
        text-align: end;
    }

    .branches__number {
        font-size: 46px;

        &:not(:first-child) {
            margin-top: 16px;
        }
    }

    .branches__text{
        font-size: 14px;
    }
}

.arrow {
    display: block;
    height: 100%;

    .hero__arrow:hover &,
    .hero__arrow:focus &,
    .hero__arrow:active & {
        display: none;
    }
}

.arrow_hover {
    display: none;
    height: 100%;

    .hero__arrow:hover & {
        display: block;
    }

    .hero__arrow:active & {
        display: none;
    }

    .hero__arrow:focus & {
        display: none;

    }

}

.arrow_focus {
    display: none;
    height: 100%;

    .hero__arrow:focus & {
        display: block;

    }

}

.hero__arrow:hover,
.hero__arrow:focus {
    cursor: pointer;
    width: 50px;
    outline: none;
}