

.hero {
    color: $main-txt-cl;
    background-color: $dark-green-bg;
}


.hero .container {
    position: relative;
    padding-top: 58px;
    padding-bottom: 239px;

    background-image: url(/src/images/mobile/heroDots@1x.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (min-resolution: 2dppx),
    screen and (min-resolution: 192dpi),
    screen and (min-device-pixel-ratio: 2) {
        background-image: url(/src/images/mobile/heroDots@2x.png);
    }
}

.hero__title {
    font-family: $secondary-font;
    font-weight: 400;
    text-transform: uppercase;

    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
}


.hero__title--third-line {
    font-size: 34px;
    line-height: 1;
}

.hero__buttons {
    margin-top: 32px;
}

.hero__icecream {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -57px; 
    pointer-events: none;  
}

.hero__plate {
    display: none;
}

.hero__text {
    display: none;
}

@media screen and (min-width: 768px) {
    .hero .container {
        padding: 32px 400px 20px 32px;
        background-image: url(/src/images/tablet/heroDots@1x.png);

        @media screen and (min-resolution: 2dppx),
        screen and (min-resolution: 192dpi),
        screen and (min-device-pixel-ratio: 2) {
            background-image: url(/src/images/tablet/heroDots@2x.png);
        }
    }

    .hero__title {
        font-size: 18px;
        line-height: 1.33;

        @media screen and (max-width: 1199px) {
            .hero__title--third-line {
            font-size: 24px;
            line-height: 1;
            }
        }
    }

    .hero__text {
        display: block;
        max-width: 151px;
        margin: 56px 0 0 185px;

        font-size: 12px;
        line-height: 1.4;
    }

    .hero__buttons {
       margin-top: 20px;
    }

    .hero__icecream {
        bottom: -17%;
        left: 45%;
    }

    .hero__plate {
        display: block;
        position: absolute;
        left: 32px;
        bottom: 10px;

    }

    .hero__arrow {
        margin-top: 10px;
        padding: 0;
        border: none;
        fill: $white-btn-cl;
        background-color: transparent;

        .hero__arrow--focus {
            display: none;
        }

        .hero__arrow--hover {
            display: none;
        }

        &:hover .hero__arrow--hover {
            display: block;
        }

        &:hover .hero__arrow--normal, 
        &:focus-within .hero__arrow--normal {
            display: none;
        }

        &:focus-within .hero__arrow--focus {
            display: block;
        }
    }
}

@media screen and (min-width: 1200px) {
    .hero .container {
        padding: 44px 744px 100px 16px;
        background-image: url(/src/images/desktop/heroDots@1x.png);

        @media screen and (min-resolution: 2dppx),
        screen and (min-resolution: 192dpi),
        screen and (min-device-pixel-ratio: 2) {
            background-image: url(/src/images/desktop/heroDots@2x.png);
        }
    }

    .hero__title {
        font-size: 38px;
        line-height: 1.26;
        letter-spacing: 00.04em;
    }

    .hero__icecream {
        bottom: -17%;
        right: 0;
    }

    .hero__plate {
        left: 17px;
        bottom: 65px;

    }

    .hero__buttons {
       margin-top: 28px;
    }
    
    .hero__text {
        max-width: 200px;
        margin: 109px 0 0px 240px;
        font-size: 14px;
        line-height: 1.42;

    }

    .hero__arrow {
        margin-top: 18px;
    }
}